/two1/bitcoin/__pycache__/
/two1/bitcoin/build/
/two1/bitcoin/tests/__pycache__/
/two1/bitcoin/tests/blocks.json
/two1/bitcoin/tests/txns.json
/two1/bitcoin/sha256.so
two1/djangobitcoin/static_serve/ss_config.yaml

# misc?
/build/
/two1/bitcoin/sha256.so
.idea/
dist/
two1.egg-info/
__pycache__
*.log
*.log.*
/two1/mining/logs/app.log
*.pyc
docs/build/
*.so
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
/lib64

# Backup files
*.~

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# C extensions
*.so

# Distribution / packaging
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Virtualenv
venv/

# Sphinx documentation built with docutils
docs/_build/
README.html

# Django stuff:
*.log

# PyBuilder
target/

#PyCharm
.idea/

# DB
db.sqlite3

# OS X
.DS_Store
src/

# Virtualenv
venv/

# Sphinx documentation built with docutils
docs/_build/
README.html

*__init__.py

# Emacs backup and TAGS files
*#
*~
*.#*
TAGS

# wheel related
wheelhouse