# two1-specific ignores
/two1/bitcoin/__pycache__/
/two1/bitcoin/build/
/two1/bitcoin/tests/__pycache__/
/two1/bitcoin/tests/blocks.json
/two1/bitcoin/tests/txns.json
/two1/bitcoin/sha256.so

# misc?
/build/
.idea

# python generic
dist/
two1.egg-info/
__pycache__/
venv/
*.log
*.log.*
*.pyc
docs/build/
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
/lib64

# Backup files
*.~

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# C extensions
*.so

# Distribution / packaging
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
two1/version.py

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# PyBuilder
target/

#PyCharm
.idea/

# DB
*.sqlite3

# OS X
.DS_Store
src/

# Virtualenv
venv/

# Sphinx documentation built with docutils
docs/_build/
README.html

# Emacs backup and TAGS files
*#
*~
*.#*
TAGS

# Vim swap files
*.swp

# wheel related
wheelhouse

#Other envs
.env
dev.env
prod.env
stage.env
