@import url("theme.css");

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic,700,700italic');

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

/* Global styles */

body{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
legend,
.rst-content .toctree-wrapper p.caption {
  font-family: 'Titillium Web', 'Times New Roman', serif;
}

a:link,
a:visited {
  color: #3366cc;
  text-decoration: none;
}
a:link:hover,
a:visited:hover,
a:link:focus,
a:visited:focus {
  text-decoration: underline;
}
h1 a:hover,
h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus,
h4 a:hover,
h4 a:focus,
h5 a:hover,
h5 a:focus {
  color: #404040;
}

h1 {
    font-size: 36px;
    font-weight: 300;
}
h2 {
    font-size: 30px;
    font-weight: 300;
}
h3 {
    font-size: 24px;
    font-weight: 300;
}
h1:before,
h2:before,
h3:before,
h4:before,
h5:before {
    content: "";
    display: block;
    height: 80px;
    margin: -80px 0 0;
}
blockquote {
    border-left: 0;
}

/* Intro header */

.intro-header {
  background-position: center;
  background-size: cover;
  background-image: url('../img/api-banner.jpg'); /* IE9 */
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../img/api-banner.jpg');
}
.intro-header .post-heading {
  padding: 150px 0;
}
.intro-header .post-heading h1,
.intro-header .post-heading h2 {
  /* http://stackoverflow.com/questions/2570972/css-font-border */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
}
.intro-header .post-heading h1 {
  margin: 7px 0;
  font-size: 44px;
}
@media ( max-width: 768px ) {
  .intro-header .post-heading h1 {
    font-size: 30px;
  }
}

/* Navigation bar */

.wy-nav-side {
    background-color:#fff;
    border-right: 1px solid #ececec;
}
@media (min-width: 768px) {
    .wy-nav-side {
        top: 30px;
    }
}

.wy-side-nav-search {
    text-align: left;
    background-color:#fff;
}
.wy-side-nav-search>a:link,
.wy-side-nav-search>a:visited,
.wy-side-nav-search>a:link:hover,
.wy-side-nav-search>a:visited:hover,
.wy-side-nav-search .wy-dropdown>a:link,
.wy-side-nav-search .wy-dropdown>a:visited,
.wy-side-nav-search .wy-dropdown>a:link:hover,
.wy-side-nav-search .wy-dropdown>a:visited:hover {
    color: #000;
}
.wy-side-nav-search .wy-form {
    margin: 0 5px;
}
.wy-side-nav-search input[type=text] {
    border-radius: 2px;
    color: #000;
}
.wy-side-nav-search .icon.icon-home:before,
.wy-side-nav-search>a img.logo,
.wy-side-nav-search .wy-dropdown>a img.logo {
    display: none;
}

.wy-menu-vertical {
    background-color: #fff;
}
.wy-menu-vertical.two1-index {
    margin: 10px 0;
}
.wy-menu-vertical a {
    color: black;
    color: rgba(0, 0, 0, 0.8);
}
.wy-menu-vertical a:hover {
    background-color: transparent;
    color: #000;
}
.wy-menu-vertical ul li a {
    text-transform: uppercase;
}
.wy-menu-vertical ul li ul li a {
    text-transform: none;
}
.wy-menu-vertical li>a,
.wy-menu-vertical li.toctree-l1>a,
.wy-menu-vertical li.toctree-l2>a,
.wy-menu-vertical li.toctree-l3>a,
.wy-menu-vertical li.toctree-l4>a,
.wy-menu-vertical li.toctree-l1.current li.toctree-l2>a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a,
.wy-menu-vertical li.toctree-l4.current li.toctree-l5>a {
    color: black;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
}
.wy-menu-vertical li.current>a,
.wy-menu-vertical li.toctree-l1.current>a,
.wy-menu-vertical li.toctree-l2.current>a,
.wy-menu-vertical li.toctree-l3.current>a,
.wy-menu-vertical li.toctree-l4.current>a,
.wy-menu-vertical li>a:hover,
.wy-menu-vertical li.toctree-l1>a:hover,
.wy-menu-vertical li.toctree-l2>a:hover,
.wy-menu-vertical li.toctree-l3>a:hover,
.wy-menu-vertical li.toctree-l4>a:hover,
.wy-menu-vertical li.toctree-l1.current li.toctree-l2>a:hover,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a:hover,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a:hover,
.wy-menu-vertical li.toctree-l4.current li.toctree-l5>a:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff;
}
.wy-menu-vertical li.on a,
.wy-menu-vertical li.current>a {
    border: 0;
}
.wy-menu-vertical li a span.toctree-expand {
    display: none !important;
}
.wy-menu-vertical>div.version {
    color: black;
    color: rgba(0, 0, 0, 0.8);
    display: inline;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.wy-nav-top {
    background-color: #000;
}
.wy-nav-top a:link,
.wy-nav-top a:visited,
.wy-nav-top a:link:hover,
.wy-nav-top a:visited:hover {
    color: #fff;
}
.wy-nav-top img {
    background-color: transparent;
}
@media (max-width: 768px) {
    .wy-nav-top i {
        margin-top: 8px;
    }
}

/* Background */

.wy-nav-content-wrap,
.wy-nav-content {
    background: #fff !important;
}
@media (min-width: 768px) {
    .wy-nav-content {
        margin-top: 60px;
     }
}

/* Code box */

.rst-content tt.literal, 
.rst-content tt.literal, 
.rst-content code.literal {
    border: 0;
    color: #3366cc;
    background-color: #f2f5f9;
}
.rst-content dl:not(.docutils) dt {
    color: #3366cc;
    border-top-color: #3366cc;
    background-color: #f2f5f9;
}
.rst-content dl:not(.docutils) dl dt {
    border-left: 0;
}

/* Notes */

.admonition.note {
    background-color: #f2f5f9;
}
.wy-alert-title, .rst-content .admonition-title {
    background-color: #3366cc !important;
}

/* Code highlighting boxes */

.highlight pre {
  white-space: pre;
  word-wrap: normal;
}
.highlight {
  width: 100%;
  position: relative;
  table-layout: fixed;
}
/*
This allows to show the horizontal scrollbar on Chrome and Safari
on Mac OS X as otherwise nothing suggests scrolling is possible.
*/
.highlighttable ::-webkit-scrollbar,
.highlight ::-webkit-scrollbar {
  height: 10px;
  background-color: rgb(127, 127, 127);
  background-color: rgba(255, 255, 255, 0.5);
}
.highlighttable ::-webkit-scrollbar-thumb,
.highlight ::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}

@media ( max-width: 768px ) {
  .highlight {
    width: 100%;
    overflow-y: auto;
  }
}

/* Pygment highlighting */

div[class^='highlight'] pre,
.highlight pre { background-color: #333333; color: #fff; }
.highlight .hll { background-color: #404040 }
.highlight .c { color: #999999; font-style: italic } /* Comment */
.highlight .err { color: #f92672; background-color: #1B1D18; } /* Error */
.highlight .g { color: #fff } /* Generic */
.highlight .k { color: #6f9850; font-weight: bold } /* Keyword */
.highlight .l { color: #fff } /* Literal */
.highlight .n { color: #fff } /* Name */
.highlight .o { color: #fff } /* Operator */
.highlight .x { color: #fff } /* Other */
.highlight .p { color: #fff } /* Punctuation */
.highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight .gd { color: #d22323 } /* Generic.Deleted */
.highlight .ge { color: #fff; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d22323 } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #6f9850 } /* Generic.Inserted */
.highlight .go { color: #cccccc } /* Generic.Output */
.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .gs { color: #fff; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #d22323 } /* Generic.Traceback */
.highlight .kc { color: #6f9850; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #6f9850; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #6f9850; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #6f9850 } /* Keyword.Pseudo */
.highlight .kr { color: #6f9850; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #6f9850; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #fff } /* Literal.Date */
.highlight .m { color: #318ade } /* Literal.Number */
.highlight .s { color: #66ccff } /* Literal.String */
.highlight .na { color: #bbbbbb } /* Name.Attribute */
.highlight .bp { color: #2b9b8e } /* Name.Builtin.Pseudo */
.highlight .nc { color: #318ade; text-decoration: underline } /* Name.Class */
.highlight .no { color: #318ade } /* Name.Constant */
.highlight .nd { color: #318ade } /* Name.Decorator */
.highlight .ni { color: #fff } /* Name.Entity */
.highlight .ne { color: #bbbbbb } /* Name.Exception */
.highlight .nf { color: #318ade } /* Name.Function */
.highlight .nl { color: #fff } /* Name.Label */
.highlight .nn { color: #318ade; text-decoration: none } /* Name.Namespace */
.highlight .nx { color: #fff } /* Name.Other */
.highlight .py { color: #fff } /* Name.Property */
.highlight .nt { color: #6f9850; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #318ade } /* Name.Variable */
.highlight .ow { color: #6f9850; font-weight: bold } /* Operator.Word */
.highlight .w { color: #666666 } /* Text.Whitespace */
.highlight .mf { color: #318ade } /* Literal.Number.Float */
.highlight .mh { color: #318ade } /* Literal.Number.Hex */
.highlight .mi { color: #318ade } /* Literal.Number.Integer */
.highlight .mo { color: #318ade } /* Literal.Number.Oct */
.highlight .sb { color: #66ccff } /* Literal.String.Backtick */
.highlight .sc { color: #66ccff } /* Literal.String.Char */
.highlight .sd { color: #66ccff } /* Literal.String.Doc */
.highlight .s2 { color: #66ccff } /* Literal.String.Double */
.highlight .se { color: #66ccff } /* Literal.String.Escape */
.highlight .sh { color: #66ccff } /* Literal.String.Heredoc */
.highlight .si { color: #66ccff } /* Literal.String.Interpol */
.highlight .sx { color: #318ade } /* Literal.String.Other */
.highlight .sr { color: #66ccff } /* Literal.String.Regex */
.highlight .s1 { color: #66ccff } /* Literal.String.Single */
.highlight .ss { color: #66ccff } /* Literal.String.Symbol */
.highlight .bp { color: #2b9b8e } /* Name.Builtin.Pseudo */
.highlight .vc { color: #318ade } /* Name.Variable.Class */
.highlight .vg { color: #318ade } /* Name.Variable.Global */
.highlight .vi { color: #318ade } /* Name.Variable.Instance */
.highlight .il { color: #318ade } /* Literal.Number.Integer.Long */

/* Button */

.btn-neutral,
.btn-neutral:visited,
.btn-neutral:hover {
    background-color: #000 !important;
    color: #fff !important;
    text-decoration: none !important;
}

/* Menu */

.navbar-header-logo {
  display: block;
  background-image: url(../../shared/img/21logo.png);
  background-repeat: no-repeat;
  background-size: 35px 35px;
  width: 52px;
  height: 30px;
}
.navbar-custom {
  font-family: 'Titillium Web', 'Times New Roman', serif;
  background: #000;
  border-bottom: 1px solid transparent;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand img {
  height: 30px;
  width: auto;
}
.navbar-custom .navbar-brand .navbar-header-text {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 15px;
}
.navbar-custom .nav li a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  padding: 20px;
  text-transform: uppercase;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: rgb(200, 200, 200);
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  text-decoration: none;
}
.navbar-custom .nav li a {
  color: white;
}
.navbar-custom .nav li a.navbar-setup {
  font-size: 17px;
  font-weight: bold;
}
.navbar-custom {
  border-bottom: 0;
}
.navbar-custom .navbar-toggle {
  border: 1px solid transparent;
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 7px;
  right: 14px;
}
@media (max-width: 768px) {
  .navbar-custom {
    display: none;
  }
}